$nav-background-color: rgb(67,147,185);

nav {
  margin: 0;
  padding: 0;
  height: 80px;
  background: $nav-background-color;
  @media (max-width: 767.99px) {
    height: 50px;
  }
  .nav-logo-container {
    height: 80px;
    width: auto;
    float: left;
    cursor: pointer;
    .glyphicon-book {
      font-size: 25px;
      color: white;
      margin-top: 27.5px;
      margin-left: 20px;
      @media (max-width: 767.99px) {
        font-size: 20px;
        margin-top: 15px;
        margin-left: 5px;
      }
    }
    h2 {
      display: inline-block;
      color: white;
      margin: 0;
      padding: 0;
      @media (max-width: 767.99px) {
        font-size: 20px;
        margin-top: 15px;
      }
    }
  }
  .form-inline {
    height: 80px;
    text-align: right;
    width: auto;



    @media (max-width: 767.99px) {
      display: none;
    }
    .form-group {
      height: 80px;


      input {
        display: block;
        font-size: 20px;
        margin-top: 20px;
        height: 40px;
        width: 225px;

      }
      .error {
        display: block;
        color: red;
        font-weight: bold;
      }
      #email {
        margin-right: 2.5px;
      }
    }
    .btn {
      margin: 20px 2.5px;
      font-size: 20px;
      background: white;
    }
  }
  .hamburger-container {
    @media (min-width: 768px) {
      display: none;
    }
    height: 50px;
    float: right;

    .glyphicon-menu-hamburger {
      font-size: 30px;
      margin-top: 10px;
      margin-right: 5px;
      color: white;
      cursor: pointer;

    }
  }

}

.drop-down-menu {
  position: absolute;
  top: 50px;
  left: 0%;
  width: 100%;
  z-index: 1;
  height: auto;
  background: rgba(67,147,185,0.9);
  color: white;
  text-align: center;
  padding-bottom: 20px;
  @media (min-width: 768px) {
    display: none;
  }
  h2 {
    cursor: pointer;
    border-bottom: 1px solid white;
  }
}
